*{
margin:0;
padding:0;
}

.heading{
background-color:#82B2C0;		
padding:25px;
display:flex;
justify-content:space-between;

}
a{
color:white;
font-size:20px;
text-decoration:none;
}
.navbar{
color:white;
font-size:25px;
display:flex;
gap:30px;
align-items:center;

}
.name{
color:white;
font-size:30px;
}
a:hover{
color:pink;
}
@media screen and ( max-width:768px){
.navbar{
	display:none;
}
}
@media screen and (min-width:769px){
.helloworld{
display:none;	
}
	
}
.about-section {
display:flex;
justify-content:center;



}

.about-container{
max-width:800px; 
margin-top:70px;
padding:20px 20px;
background-color:#E7F1F9;
border-radius:20px;
box-shadow:10px 10px 10px lightblue;
margin:20px;
opacity:0.3;
trasition: opacity 1s ease-in-out;
}
.about-container:hover{
	opacity:1;
}

.img-div{
display:flex;
justify-content:center;
}

.image{
	max-width:250px;
	border-radius:50%;
}

.about{
padding:20px;
text-align:center;
display:flex;
flex-direction:column;
gap:15px;
}

.about-name{
font-size:26px;
}
.profile-name{
color:gray;
}


.namee{
color:#82B2C0;
}

.profile-name{
margin-top:5px;
} 
.about-me{
	font-size:17px;
	text-align:justify;
}
.resume-btn{
padding:8px;
background-color:#82B2C0;
color:#E7F1F9;
margin-top:4px;
border-radius:50px;
border:none;
font-size:15px;
} 